<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인 필요</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #d3f0ff;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>로그인 필요</h1>
      <p>이 서비스를 이용하려면 먼저 로그인해주세요.</p>
      <a href="/login" class="btn btn-primary">로그인 페이지로 이동</a>
    </div>
  </div>
</div>

</body>
</html>
