<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>날씨 조회 서비스</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #d4f1ff;
    }
    table {
      background-color: #ffffff;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="text-center my-5">Weather</h1>
  <form action="/" method="POST">
    <div class="form-group">
      <h4 class="text-left my-4">오늘의 날씨 확인하기</h4>
    </div>
  </form>

  <div th:if="${User}" id="user" style="display: none"></div>

  <button id="actionButton" class="btn btn-info active" role="button"></button>
  <button id="logout-button" class="btn btn-info active" role="button" style="display:none">Logout</button>
  <p></p>

  <span id="welcome-message" style="display: none;"></span>

  <script>
    const userElement = document.getElementById('user');
    const welcomeMessage = document.getElementById('welcome-message');
    const isLoggedIn = !!userElement;

    const actionButton = document.getElementById('actionButton');
    const logoutButton = document.getElementById('logout-button');

    if (isLoggedIn) {
      const username = userElement.innerText;
      welcomeMessage.innerText = `로그인 정보 : ${username}`;
      welcomeMessage.style.display = 'inline';

      actionButton.innerText = 'OK';
      actionButton.onclick = () => {
        location.href = 'http://localhost:8080/weather';
      };
      logoutButton.style.display = 'inline-block';
      logoutButton.onclick = () => {
        location.href = '/logout';
      };
    } else {
      actionButton.innerText = 'Login';
      actionButton.onclick = () => {
        location.href = 'http://localhost:8080/weather/login';
      };
    }
  </script>

  <div class="my-4">
    <table class="table table-horizontal table-bordered">
      <thead class="thead-strong">
      <tr>
        <th>이용자</th>
        <th>위치</th>
        <th>온도</th>
        <th>시간</th>
      </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>

    <script>
      function fetchWeatherInfos() {
        fetch('/api/weatherInfos')
                .then(response => response.json())
                .then(weatherInfos => {
                  const tbody = document.getElementById('tbody');
                  tbody.innerHTML = '';

                  weatherInfos.forEach(weatherInfo => {
                    const tr = `<tr>
                        <td>${weatherInfo.email}</td>
                        <td>${weatherInfo.location}</td>
                        <td>${weatherInfo.weather}</td>
                        <td>${weatherInfo.dateTime}</td>
                    </tr>`;
                    tbody.innerHTML += tr;
                  });
                });
      }

      fetchWeatherInfos();
    </script>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
