<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>날씨 조회</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #d4f1ff;
    }
    table {
      background-color: #ffffff;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 class="text-center my-5">Weather</h1>
  <form action="/weather" method="POST">
    <div class="form-group">
      <h4 class="text-left my-4">오늘의 날씨 확인하기</h4>
    </div>

    <button type="submit" class="btn btn-primary">확인</button>
  </form>
  <div class="my-4">
    <table class="table table-horizontal table-bordered">
      <thead class="thead-strong">
      <tr>
        <th>ID</th>
        <th>위치</th>
        <th>날씨</th>
        <th>시간</th>
      </tr>
      </thead>
      </tbody>
    </table>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
